<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>Gathering UP</title>
	    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <meta name="description" content="">
    <meta name="author" content="">

<!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
          body {
            padding-top: 60px;
          }

        </style>        
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
<link rel="Stylesheet" type="text/css" href="/css/chosen.css" />
<link rel="Stylesheet" type="text/css" href="/css/search.css" />
<link rel="Stylesheet" type="text/css" href="/css/home.css" />
    <link href="css/styles.css" rel="stylesheet">
<link rel="stylesheet" href="/css/base/jquery-ui.css" />

<!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>
 
<!-- 
<link type="text/css" href="/css/humanity/jquery-ui-1.8.21.custom.css" rel="Stylesheet" />	
<link rel="Stylesheet" type="text/css" href="/css/header.css" />
<link rel="Stylesheet" type="text/css" href="/css/home.css" />
 --> 	
<link rel="Stylesheet" type="text/css" href="/css/timepicker.css" />
<link rel="Stylesheet" type="text/css" href="/css/fullcalendar.css" />

<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.21.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-timepicker-addon.js"></script>
<script type='text/javascript' src='/js/fullcalendar.min.js'></script>

<script type="text/javascript" src="/js/underscore-min.js"></script>
<script type="text/javascript" src="/js/chosen.jquery.min.js"></script>
<!-- <script type="text/javascript" src="/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/js/gatheringup-emaildialog.js">	</script>  -->
<script type="text/javascript" src="/js/gatheringup-home.js"></script>

</head>

<body>

    <div class="wrapper"> <!-- Wrapper -->   
<!-- Header + Navbar -->

<script type="text/javascript">
<!--

//-->
function invitedecline(idinvite)
{
	$.get("/invitation/decline?idinvite="+idinvite);
	$("#"+idinvite+"invl").remove();
	$("#"+idinvite+"inv").remove();
	$("#"+idinvite+"invn").remove();
	$invites=$("#note_on>b").html();
	$invites=$invites-1;
	if($invites<=0){
		$("#note_on").attr('id',"note_off");
	}
	$invites=$("#note_on>b").html($invites);
}
</script>
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="top-stripe"></div>
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Gathering UP</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                
                  <li><a  href="/Dining">Dining</a></li>
                  <li><a  href="/Places">Places</a></li>
                  <li><a  href="/Events">Events</a></li>
                                 <li><a class="header-active" href="/datebook">Datebook</a></li>
                  <li>
				<a id="note_off" class="dropdown-toggle" data-toggle="dropdown"  href="">&nbsp;</a>
				                  </li>
                              </ul>
                              <div class="dropdown">
               		              <form style="color:white;" class="navbar-form pull-right">Hello &nbsp;
                <a class="dropdown-toggle " type="button" data-toggle="dropdown" href="#">one one</a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <!-- <li><a href="logOut.html">Settings</a></li> -->                    
                      <li style="text-align: center"><a href="/preferences/changepasswd">Change Password</a></li>          
                      <li style="text-align: center"><a href="/user/logout">Log Out</a></li>          
                  </ul>
              </form>
              </div>
               		
                             </div><!--/.nav-collapse -->
          </div>
        </div>
      </div><script type="text/javascript">

window.friends = {"0":{"name":"four one","email":"4@1.com"},"2":{"name":"nine","email":"9@1.com"},"1":{"name":"nine one","email":"9@1.com"}};
var tmphash = new Object();

$.each(window.friends, function(key, value){
	if(value.id)
	{
		tmphash[value.id]=value.name;
	}else{
		tmphash[value.email]=value.name;
	}
});
window.friendshash=tmphash;

$(document).ready(function() {
	
	var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();
	
	$('#calendar').fullCalendar({
		eventClick: function(event){
			loadeventdetail(event.hiddenactivity);
		},
		eventMouseover: function(event, jsEvent, view ) { 
			if(event.start.getDay()>4){
				$(this).popover({title: event.hiddentime, trigger: 'hover', placement:'left', content: event.hidden}); 
				
			}else{
				$(this).popover({title: event.hiddentime, trigger: 'hover', content: event.hidden}); 
				
			}
		},
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		editable: false, 
		selectable: true,
		timeFormat: 'h:mm TT',
		unselectAuto: true,
		events: [{
title: '',
hidden: 'TESTING',
hiddenactivity: '318',
hiddentime: '12:00 AM',
start: new Date(2013, 1, 26, 0, 0),
end: new Date(2013, 1, 26, 0, 0),
color: '#00abdc',
allDay: false
},
{
title: '',
hidden: 'dfasf',
hiddenactivity: '317',
hiddentime: '12:00 AM',
start: new Date(2013, 1, 27, 0, 0),
end: new Date(2013, 1, 27, 0, 0),
color: '#00abdc',
allDay: false
},
{
title: '',
hidden: 'testing2',
hiddenactivity: '319',
hiddentime: '12:00 AM',
start: new Date(2013, 2, 28, 0, 0),
end: new Date(2013, 2, 28, 0, 0),
color: '#00abdc',
allDay: false
}
		]
	});
	
});
</script>

<!--
Underscore is stripping out img's for select options for some reason.
<img src="/images/gnome_stock_person.png" height="20"> 
					<img src="http://graph.facebook.com/<%=one.id %>/picture" height="20">-->
<style type="text/css">

  .namespanel {
  border-left: 1px solid white;
  -moz-box-shadow: -1px 0px 0px #e5e5e5; /* Firefox 3.6 and earlier */
  -webkit-box-shadow: -1px 0px 0px #e5e5e5; /* Safari and Chrome */
  box-shadow: -1px 0px 0px #e5e5e5;
  margin-bottom: 10px;
}

.attendstatus {
  margin-left: 11px;
  text-align: center;
}

</style>
<script type="text/html" id='invitedetails'>
<div class="span6">
          <div class="event_info">
            <h3><%= event.summary %></h3>
            <dl class="dl-horizontal">
              <dt>Location:</dt>
              <dd><% if(event.location){ print(event.location+"<br> "); }  %> 
					<% if(event.city){ print(event.city+", "); } %> 
					<%= event.state %>&nbsp;</dd>
              <dt>Date:</dt>
              <dd><%= event.startdate %></dd>
              <dt>Time:</dt>
              <dd><%= event.starttime_f %> - <%= event.endtime %>
</dd>
            </dl>
            <p><% if(event.description){ print(event.description); } %>

          </div>
          <div class="blue_bar"></div><h2>
								<a href="/invitation/accept?idinvite=<%=event.idinvite%>">Accept Invitation</a> | 
								<a href="/invitation/decline?idinvite=<%=event.idinvite%>">Decline</a></h2>

          <div class="message_area" name="<%=event.idactivity%>">
			<% _.each(messages, function(one) { %>
                <div class="message_entry" style="min-height: 72px;">
				<% if(one.screenname){ 		%>
                    <img class="img-polaroid thumbnail_profile" src="http://graph.facebook.com/<%= one.screenname %>/picture" alt="thumbnail"> 
      			<%  }else if(one.oauth_uid) { %> 
                    <img class="img-polaroid thumbnail_profile" src="http://graph.facebook.com/<%= one.oauth_uid %>/picture" alt="thumbnail"> 
      			<%  }else { %> 
                    <img class="img-polaroid thumbnail_profile" src="/images/gnome_stock_person.png" alt="thumbnail"> 
				<%  } %>
                    <div class="text_entry">
                    <h4><%= one.firstname %> <%= one.lastname %></h4>
                    <p><%= one.message %> </p>
                    </div> 
                </div>
                    <div class="breakline_msg"></div>  
			<% }); %>
          </div>  
</div>
          <div class="span1">
            <div class="namespanel">
            <h5 class="attendstatus">Attending</h5>              
            <div class="attend"> 
			<% _.each(members, function(one) { %>
				<div>
				<% if(one.screenname){ 		%>
                    <img id="<%=one.iduser%>" rel="tooltip" data-placement="left" data-original-title="<%=one.firstname%> <%=one.lastname%>" class=" attendnames img-polaroid thumbnail_profile"  class="img-polaroid thumbnail_profile" src="http://graph.facebook.com/<%= one.screenname %>/picture" alt="thumbnail"> 
      			<%  }else if(one.oauth_uid) { %> 
                    <img id="<%=one.iduser%>" rel="tooltip" data-placement="left" data-original-title="<%=one.firstname%> <%=one.lastname%>" class=" attendnames img-polaroid thumbnail_profile"  class="img-polaroid thumbnail_profile" src="http://graph.facebook.com/<%= one.oauth_uid %>/picture" alt="thumbnail"> 
      			<%  }else { %> 
                    <img id="<%=one.iduser%>" rel="tooltip" data-placement="left" data-original-title="<%=one.firstname%> <%=one.lastname%>" class=" attendnames img-polaroid thumbnail_profile"  class="img-polaroid thumbnail_profile" src="/images/gnome_stock_person.png" alt="thumbnail"> 
				<%  } %>
				</div>
			<% }); %>
            </div>   

              <h5 class="attendstatus">Pending</h5>            
            <div class="pending">
			<% _.each(invited, function(one) { %>
				<div>
      			<%  if(one.oauth_uid) { %> 
                    <img id="<%=one.idinvite%>invite" rel="tooltip" data-placement="left" data-original-title="<%=one.name%>" class=" attendnames img-polaroid thumbnail_profile"  class="img-polaroid thumbnail_profile" src="http://graph.facebook.com/<%= one.oauth_uid %>/picture" alt="thumbnail"> 
      			<%  }else { %> 
                    <img id="<%=one.idinvite%>invite" rel="tooltip" data-placement="left" data-original-title="<%=one.name%>" class=" attendnames img-polaroid thumbnail_profile"  class="img-polaroid thumbnail_profile" src="/images/gnome_stock_person.png" alt="thumbnail"> 
				<%  } %>
				</div>
			<% }); %>
            </div>    
</div>       
</div>
</script>
<script type="text/html" id='eventdetails'>
<div class="span6">
          <div class="event_info">
            <h3><%= event.summary %></h3>
            <dl class="dl-horizontal">
              <dt>Location:</dt>
              <dd><% if(event.location){ print(event.location+"<br> "); }  %> 
					<% if(event.city){ print(event.city+", "); } %> 
					<%= event.state %>&nbsp;</dd>
              <dt>Date:</dt>
              <dd><%= event.startdate %></dd>
              <dt>Time:</dt>
              <dd><%= event.starttime_f %> - <%= event.endtime %>
</dd>
            </dl>
            <p>
<% if(event.description){ 
	print(event.description+"<br><br>"); 
}else{ print("&nbsp;"); }
/*event.description=event.description.replace(/'/g, "&#x27;");
event.summary=event.summary.replace(/'/g, "&#x27;");*/ 
var eventstr = JSON.stringify(event);
eventstr = eventstr.replace(/'/g, "&#x27;");

%>
<% if(event.iduser==iduser){ %>
<a href="javascript:void(0);" onclick='opencreateevent(<%=eventstr%>,1)' class="pull-right"> Edit<img src="/images/gtk-edit.png" ></a><br>
<% } %>
</p>        
          </div>
          <div class="blue_bar"></div>
                <form accept-charset="UTF-8" id="formpostmessage"  action="javascript:void(0);" method="POST">
                    <textarea class="span6" id="new_message" name="message"
                    placeholder="Type in your message" rows="5"></textarea>                    
                    <button class="btn btn-blue" type="button" onclick="postactivitymessage(<%=event.idactivity%>)">Post New Message</button>
                    <div style="margin-top: 12px;" class="breakline_msg"></div>                     
                </form>            

          <div class="message_area" name="<%=event.idactivity%>">
			<% _.each(messages, function(one) { %>
                <div class="message_entry" style="min-height: 72px;">
				<% if(one.screenname){ 		%>
                    <img class="img-polaroid thumbnail_profile" src="http://graph.facebook.com/<%= one.screenname %>/picture" alt="thumbnail"> 
      			<%  }else if(one.oauth_uid) { %> 
                    <img class="img-polaroid thumbnail_profile" src="http://graph.facebook.com/<%= one.oauth_uid %>/picture" alt="thumbnail"> 
      			<%  }else { %> 
                    <img class="img-polaroid thumbnail_profile" src="/images/gnome_stock_person.png" alt="thumbnail"> 
				<%  } %>
                    <div class="text_entry">
                    <h4><%= one.firstname %> <%= one.lastname %></h4>
                    <p><%= one.message %> </p>
                    </div> 
                </div>
                    <div class="breakline_msg"></div>  
			<% }); %>
          </div>  
</div>
          <div class="span1">
            <div class="namespanel">
            <h5 class="attendstatus">Attending</h5>              
            <div class="attend"> 
			<% _.each(members, function(one) { %>
				<div>
				<% if(one.screenname){ 		%>
                    <img id="<%=one.iduser%>" rel="tooltip" data-placement="left" data-original-title="<%=one.firstname%> <%=one.lastname%>" class=" attendnames img-polaroid thumbnail_profile"  class="img-polaroid thumbnail_profile" src="http://graph.facebook.com/<%= one.screenname %>/picture" alt="thumbnail"> 
      			<%  }else if(one.oauth_uid) { %>
                    <img id="<%=one.iduser%>" rel="tooltip" data-placement="left" data-original-title="<%=one.firstname%> <%=one.lastname%>" class=" attendnames img-polaroid thumbnail_profile"  class="img-polaroid thumbnail_profile" src="http://graph.facebook.com/<%= one.oauth_uid %>/picture" alt="thumbnail"> 
      			<%  }else { %> 
                    <img id="<%=one.iduser%>" rel="tooltip" data-placement="left" data-original-title="<%=one.firstname%> <%=one.lastname%>" class=" attendnames img-polaroid thumbnail_profile"  class="img-polaroid thumbnail_profile" src="/images/gnome_stock_person.png" alt="thumbnail"> 
				<%  } %>
				</div>
			<% }); %>
            </div>   

              <h5 class="attendstatus">Pending</h5>            
            <div class="pending">
			<% _.each(invited, function(one) { %>
				<div>
      			<%  if(one.oauth_uid) { %> 
                    <img id="<%=one.idinvite%>invite" rel="tooltip" data-placement="left" data-original-title="<%=friendshash[one.oauth_uid]%>" class=" attendnames img-polaroid thumbnail_profile"  class="img-polaroid thumbnail_profile" src="http://graph.facebook.com/<%= one.oauth_uid %>/picture" alt="thumbnail">
      			<%  }else { %> 
                    <img id="<%=one.idinvite%>invite" rel="tooltip" data-placement="left" data-original-title="<%=one.name%>" class=" attendnames img-polaroid thumbnail_profile"  class="img-polaroid thumbnail_profile" src="/images/gnome_stock_person.png" alt="thumbnail"> 
				<%  } %>
				</div>
			<% }); %>
            </div>    
</div>       
</div>
</script>
<script type="text/html" id='newpostmessages'>
			<% _.each(messages, function(one) { %>
                <div class="message_entry" style="min-height: 72px;">
				<% if(one.screenname){ 		%>
                    <img class="img-polaroid thumbnail_profile" src="http://graph.facebook.com/<%= one.screenname %>/picture" alt="thumbnail"> 
      			<%  }else if(one.oauth_uid) { %> 
                    <img class="img-polaroid thumbnail_profile" src="http://graph.facebook.com/<%= one.oauth_uid %>/picture" alt="thumbnail"> 
      			<%  }else { %> 
                    <img class="img-polaroid thumbnail_profile" src="/images/gnome_stock_person.png" alt="thumbnail"> 
				<%  } %>
                    <div class="text_entry">
                    <h4><%= one.firstname %> <%= one.lastname %></h4>
                    <p><%= one.message %> </p>
                    </div> 
                </div>
                    <div class="breakline_msg"></div>  
			<% }); %>
</script>
<script type="text/html" id='bookmarks'>

			<% _.each(bookmarks, function(one) { %>
				<%   // Used for modal events creation. 
				one.summary=one.destname;
//				one.summary=one.destname.replace(/'/g, "&#x27;");
//				one.destname=one.destname.replace(/'/g, "&#x27;");
				one.city=one.county;
				var onejson = JSON.stringify(one);
				onejson=onejson.replace(/'/g, "&#x27;");
				%>
                          <div class="eventbox"  id="<%=one.id%>pop" >
<button type="button" class="close" onclick='deletebookmarks("<%=one.bookmarktype%>","<%=one.id%>")'>&times;</button>
<a href="javascript:void(0);" onclick='opencreateevent(<%=onejson%>,1)'> <img src="/images/gtk-datebook.png" class="pull-right" width="25">
</a>
<a href="javascript:void(0);" onclick='opencreateevent(<%=onejson%>,1)'><%=one.destname%></a><br>
							<% if(one.startdate){ 		%>
                            	<%=one.startdate%> <br>
							<%  } %>
							<%=one.county%>, <%=one.state%>
                          </div>
			<% }); %>
</script>

<script type="text/html" id="createeventtemplate">
<!--Create Event Modal-->
    <div id="CreateEvent" class="modal hide fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div id="modal-event">
       <div class="modal-header">
        <button type="button" id="done_button2" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h2 id="myModalLabel">Create/Update an Event</h2>
        <div id="CreateEventErrors"></div>
       </div> 
        <div class="modal-body" style="overflow: inherit">
            <div class="eventForm">
              <input class="squareCorners" type="text" placeholder="Event Title" name="summary" id="summary" value="<%= activity.summary%>" style="width:516px;">
              <input class="squareCorners" type="text" placeholder="Location (Optional)" name="location" id="location" value="<%=activity.location%>"  style="width:30%;">
              <input class="squareCorners" type="text" placeholder="City (Optional)" name="city" value="<%=activity.city%>" id="city" style="width:30%;">
              <input class="squareCorners" type="text" placeholder="State" name="state" value="<%=activity.state%>" id="state" style="text-align:center;width:10%;float:right;">
              <input class="squareCorners" type="text" placeholder="Event Date" name="startdate" value="<%=activity.startdate%>" id="datepicker3" style="width:516px;">             
              <input class="squareCorners" type="text" placeholder="Start Time (Optional)" name="starttime" value="<%=activity.starttime_f%>" id="timepicker3">
              <input class="squareCorners" type="text" placeholder="End Time (Optional)" name="endtime" value="<%=activity.endtime%>" id="timepicker2">
              <textarea  style=" width: 516px; border-radius: 0px;" rows="4"  id="description" type="text" placeholder="Details (Optional)"><%=activity.description%></textarea>

              <div class="breakline_msg" style="margin:10px 0px 20px"></div>

              <div class="invitebox">  
                        <img class="note_tip" title="Your friends will receive an invitation via Facebook Notification" style="float:left;" src="/images/facebook_3d.png" alt="">  

                        <img class="note_tip" title="Your friends will receive an invitation via Email" style="float:left;margin-right:10px;" src="/images/email_3d.png" alt="">
                        
                        <p style="float:left;padding-top:7px;">Invite your friends using Facebook or Email</p>

                        <a id="add_button" data-target="#add_emailModal" style="cursor:pointer;" data-toggle="modal">Add Email</a>
              </div>

        <select data-placeholder="+ Invite to this event" class="chzn-select" multiple name="friendadd" id="friendadd"  style="width:516px; margin-left:10px; font-family:ubuntu;">
              <option value="four one|4@1.com"> four one</option>     
              <option value="nine|9@1.com"> nine</option>     
              <option value="nine one|9@1.com"> nine one</option>     
        </select><br>

		<input type="hidden" class="idbusiness" name="idbusiness" value="<%=activity.idbusiness%>">
		<input type="hidden" class="idplace" name="idplace" value="<%=activity.idplace%>">
		<input type="hidden" class="idactivity" name="idactivity" value="<%=activity.idactivity%>">
    <button value="Create/Update Event!" onclick="createevent()" class="btn btn-blue btn-large" style="width:529px;" >Create/Update Event!</button>
<!--		<input type="button" value="Submit Event!" class="btn btn-blue btn-large" onclick="createevent()" />
          <button class="btn btn-blue btn-large span5">Create Event!</button>  --> 
            </div>
       </div>
       <div class="modal-footer" > 
      </div>
</div>
<!--Side Bar Info-->    

    <div id="emailModal" >
      <div class="modal-header">
        <h4 style="text-align:center;">Add Friend Via Email</h4>
          <div class="breakline"></div>
      </div>
<div id="emailerrormsg"></div>
      <div class="modal-body">
          <input class="squareCorners" type="text" id="emailfullname" value="" placeholder="Add Name"><span id='erremailname'></span>
          <input class="squareCorners" type="text" id="emailaddress" value="" placeholder="Add Email"><span id='erremailaddress'></span>
          <button style="padding:4px 35px 4px 35px;" class="btn btn-blue" onclick="addemail()">Add Friend</button>  
          <button id="done_button" style="float:right;" class="btn btn-blue">Done</button>   
        <div class="friends_module">
			          <div class=" alert Friends">
            <button type="button" class="close" data-dismiss="alert" onclick='removeemail("4@1.com")'>&times;</button>
            <p>four one<br>4@1.com</p>
          </div>
      		          <div class=" alert Friends">
            <button type="button" class="close" data-dismiss="alert" onclick='removeemail("9@1.com")'>&times;</button>
            <p>nine<br>9@1.com</p>
          </div>
      		          <div class=" alert Friends">
            <button type="button" class="close" data-dismiss="alert" onclick='removeemail("9@1.com")'>&times;</button>
            <p>nine one<br>9@1.com</p>
          </div>
      		 
        </div>
      </div>
       <div class="modal-footer" > 
      </div>
    </div> 

    </div>   
</script>


    <!-- Your Events + Buttons -->      
    <div class="container">
      <div class="row">
        <div class="datebook span4">
<!-- <input type="button" value="Create personal event" id="createevent" onclick="createpersonaleventform('/activity/createactivity')" > -->	
        <button style="width:70%;float:left;" href="javascript:void(0);" onclick='opencreateevent({},1)' data-toggle="modal" role="button" class="btn btn-large btn-blue" type="submit" class="btn">Create Event!
        </button>
        <button id="calendarButton" class="btn btn-large btn-blue" style="height: 100%;">&nbsp;
        </button>

          <ul class="nav nav-pills" id="nav-pill_box">
            <li class="tab-pane pill_width active">
              <a id="Your_event" href="#home"  data-toggle="tab"><h4 style="font-size: 1.17em;">Your Events</h4></a>
            </li>
<!--           <li class="pill_width">
            <a id="Your_bookmark" href="#profile"  data-toggle="tab"><h4 style="font-size: 1.17em;">Your Bookmarks</h4>
            </a>
            </li> --> 
             <li class="tab-pane pill_bookmarks dropdown">
            <a id="Your_bookmark" class="dropdown-toggle" data-toggle="dropdown" href="#" >
           <h4 style="font-size: 1.17em;margin-left: 13px;text-align: center;">Bookmarks 
<b class="caret"></b></h4>
            </a>
<ul class="nav nav-tab dropdown-menu" style="  border-radius: 0px !important; text-align: center; min-width: 115px;margin-top: 0px; margin-right: 0px;right: 2px;">
<!-- links -->
<li><a data-toggle="tab" href="#bookmarkbusiness"  onclick="loadbusinessbookmark('business')">Dining</a></li>
<li><a data-toggle="tab"  href="#bookmarkplace" onclick="loadplacebookmark('places')">Places</a></li>
<li><a data-toggle="tab"  href="#bookmarkevents"  onclick="loadeventsbookmark('events')">Events</a></li>
</ul>
</li>
        </ul>

		<div class="tab-content">
            <div class="tab-pane active" id="home">
			<div class="customscroll">
            <div class="EventListing">
							<div class="eventbox">
                    <div class="event_datebox">
                      <div class="datewrap">
                      <span style="font-size:1.1em;line-height:1.35em;">Feb</span><br> 
                      <span style="font-size:1.5em;">26</span><br> 
                      <span style="font-family:ubuntu;">TUE</span>
                      </div>                      
                    </div> 
                    <div class="event_summary">
                    			<a href="javascript:void(0);"
										onclick="loadeventdetail(318)">
									TESTING</a> 
									<span id="id318"></span>									<br>
										<br>
									12:00 AM -
									12:00 AM									</div>
									</div>
								<div class="eventbox">
                    <div class="event_datebox">
                      <div class="datewrap">
                      <span style="font-size:1.1em;line-height:1.35em;">Feb</span><br> 
                      <span style="font-size:1.5em;">27</span><br> 
                      <span style="font-family:ubuntu;">WED</span>
                      </div>                      
                    </div> 
                    <div class="event_summary">
                    			<a href="javascript:void(0);"
										onclick="loadeventdetail(317)">
									dfasf</a> 
									<span id="id317"></span>									<br>
										<br>
									12:00 AM -
									12:00 AM									</div>
									</div>
								<div class="eventbox">
                    <div class="event_datebox">
                      <div class="datewrap">
                      <span style="font-size:1.1em;line-height:1.35em;">Mar</span><br> 
                      <span style="font-size:1.5em;">28</span><br> 
                      <span style="font-family:ubuntu;">THU</span>
                      </div>                      
                    </div> 
                    <div class="event_summary">
                    			<a href="javascript:void(0);"
										onclick="loadeventdetail(319)">
									testing2</a> 
									<span id="id319"></span>									<br>
										<br>
									12:00 AM -
									12:00 AM									</div>
									</div>
										
</div>
              </div>
            </div>
        <div class="tab-pane" id="bookmarkplace">
        <div class="BookmarkTitles">Bookmarked Places</div>
			<div class="customscroll">
            <div class="yourBookmarks">
            Processing....
            </div>   
            </div>   
          </div>
        <div class="tab-pane" id="bookmarkbusiness">
        <div class="BookmarkTitles">Bookmarked Dining</div>
			<div class="customscroll">
            <div class="yourBookmarks">
            Processing....
            </div>   
            </div>   
          </div>
        <div class="tab-pane" id="bookmarkevents">
        <div  class="BookmarkTitles">Bookmarked Events</div>
			<div class="customscroll">
            <div class="yourBookmarks">
            Processing....
            </div>   
          </div>
          </div>
        </div>        

        </div>
      <div class="span8" id="grandcentral" >
<div id='calendar'></div>
<span id="event_main">
Processing...</span>  
</div>
<span id="modalholder"></span>

</div>
</div>
</div>



   


<script type="text/javascript">
	$(document).ready(function() {
		opencreateevent(Array, 0);
	    $(function () {
	        $('#nav-pill_box a[href="#home"]').tab('show');
	      });
	      	      	      $("#calendarButton").click(function(){
	    	    $("#event_main").fadeOut(function(){ $(this).hide(); });
	    	    $("#calendar").slideDown();
	    	  });
	});

</script>
<!-- Footer -->
  <div class="footer">
    <p>Copyright Gathering Up Ltd. All rights reserved. Proudly made in New York City!</p>  
    <p>
      <a href="http://twitter.com">Follow Us on Twitter</a> | 
      <a href="http://Facebook.com">Follow Us on Facebook</a><br>
    </p> 
    <p>  
      <a href="/about/termsofuse">Terms of Use</a>  |  
      <a href="/about/privacy">Privacy Policy</a> | 
      <a href="/about/contactusform">Contact Us</a>
    </p>  
  </div>  

<!--Register Modal-->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header registerModal">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h2 id="myModalLabel">Register with GatheringUP!</h2>
        
<div style="width: 400px;" class="breakline"></div> 
      </div>
      <div id="RegistrationErrors"></div>
            <form  id="registerform" action="#" class="form-horizontal">
              <div>
                  <input type="text" name="firstname" id="firstname" class="form-large" placeholder="First Name" tabindex="41">
                  <b id="errfirstname"></b>
              </div>
              <div>
                  <input type="text" name="lastname" id="lastname" class="form-large" placeholder="Last Name" tabindex="42">
                <b id="errlastname"></b>
              </div>        
                  <div>
                  <input type="text" name="email" id="regemail" class="form-large" placeholder="Email" tabindex="43">
                  <b id="erremail"></b>
              </div>
              <div>
                  <input type="password" name="password" id="regpassword" class="form-large"  title="Must contain one number & 8 characters"  placeholder="Create Password" style="width:190px;float:left;" tabindex="44">
<b id="errpassword"></b>
                  <input type="password" name="passwordconf" id="regpasswordconf" class="form-large" placeholder="Re-type Password"  style="margin-left:20px; width:190px;float:left;"  tabindex="45">
<b id="errpasswordconf"></b>
              </div>     
               <div style="clear:both;" class="breakline"></div>  
                  <div  style="float:left;margin-top: 3px;width:192px;" id="captcha"><img src="/captcha"></div>
                  <div>
                  <input type="password" name="norobotcode" id="robotdistorter" class="form-large" style="margin-left:20px; width:190px;float:left;"  placeholder="Enter Captcha"  tabindex="46">
                  <b id="errrobotdistorter"></b>
              </div>
               <div style="clear:both;" class="breakline"></div>  
              <div>
                  <button type="button" value="Sign me up" class="btn btn-blue btn-large"  style="width:405px;"  onclick="register()"  tabindex="47">Register</button>
              </div>
            <img src="/images/divider.png" style="margin-bottom:10px;margin-top: 14px;" alt=""> 
        <div class="facebookbg" >
              <a href="" class="facebookurl" >
        <img style="padding-right: 15px;" src="/images/facebook.png" alt="facebook">Sign In with Facebook
        </a>
        </div>
            </form>
            
    </div>   

    <!--Sign Up Modal-->
    <div id="Signin_Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header registerModal">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h2 id="myModalLabel">Sign In!</h2>
      </div>
        <div class="breakline"></div>       
        <div class="modal-body">
          <p >Don't have an account? &nbsp;<a href="javascript:void(0);" onclick="registerpopup('')">Register Here!</a></p>
            <form  id="loginform" action="javascript:void(0);" class="form-horizontal">
            
            		<input type="hidden" id="redirect" name="redirect" value="">
					<input type="hidden" class="bbookmark" name="bbookmark" value="">
					<input type="hidden" class="pbookmark" name="pbookmark" value="">
					<input type="hidden" class="ebookmark" name="ebookmark" value="">
              <div class="SignInField_m">
              <div class="facebookbg">
              <a href="" class="facebookurl" >
                    <img style="height:30px;width:auto;padding-right:5px;" src="/images/facebook.png" alt="facebook">Sign In with Facebook
                 </a>
              </div>
        <div style="margin-top:20px;" class="breakline"></div>                 
              </div>
            	<div id="LoginErrors"></div>
                <div class="SignInField_m">
                    <input id="poploginemail" name="email" style="width:256px;" type="text" class="squareCorners" placeholder="Email">
                </div>
                <div class="SignInField_m">
                    <input id="poploginpasswd" name="password" style="width:256px;" type="password" class="squareCorners" placeholder="Password">
                </div>
                <div class="SignInField_m">
                    <a style="cursor:pointer;" data-toggle="modal" onclick="logintoforget()">Forgot Your Password?</a>
<!--                     <label class="checkbox">
                    <input type="checkbox">Remember me
                    </label>   -->
                        <button  onclick="login()" class="btn btn-blue btn-large" type="submit" style="font-weight:bold;width:100%;margin-top:10px;">Sign In!</button>
                      </div>
                  </form> 
               </div>
            </div> 

<!--Forgot Password Modal-->
    <div id="forgotModal" class="modal hide fade"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>        
        <h2 id="myModalLabel">Forgot Password</h2>
      </div>
      <div class="breakline"></div>
      <form  id="forgotpasswordform" action="javascript:void(0);" class="form-horizontal">
      <div style="padding: 0px 35px 32px;" class="modal-body">
        <h4>Enter your email address below to reset your password</h4>
        <input class="form-large" type="text" id="forgotemail" placeholder="Email Address" value="">
        <button style="padding:15px 33px 15px 33px; width: 100%;" type="submit" class="btn btn-blue btn-large" onclick="forgotpassword()">Reset Your Password!</button>
      </div>
      </form>
    </div>    
    
<!-- Announcements Modal-->
    <div id="announcementModal" class="modal hide fade"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>        
        <h2 id="announcementLabel">Notification</h2>
      </div>
      <div class="breakline"></div>
      <div style="padding: 0px 35px 32px;" class="modal-body">
        <h4>Enter your email address below to reset your password</h4>
      </div>
    </div>    

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--     <script src="js/jquery.js"></script> -->
    <script src="/js/bootstrap.min.js"></script>
<!--     <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
 -->
<!--Carousel Javascript-->    
    <script type="text/javascript"> 

    
      $('.carousel').carousel({
        interval: 5000
      });
    </script>
  </body>
</html>
